<div class="row">
<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <p>
        Body: <%= f.text_field :body %>
      </p>
    <p>
      Notes: <%= f.text_field :notes %>
    </p>
    <p>
      Distractors
    </p>
    <hr>
    <div class="distractors">

    </div>
  <div class="actions">
    <%= link_to_add_association('Add distractor', f, :distractors) %>
    <%= f.submit %>
  </div>
<% end %>
</div>
