<p id="notice"><%= notice %></p>
<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Questions</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
          <td>
              <div>
                  <%= question.body %>
              </div>
              <div class="distractors">
                  <% question.distractors.each do |distractor| %>
                      <div id=" <%= dom_id(distractor) %>" class="distractor">
                          <%= distractor.body %>
                      </div>
                  <% end %>
              </div>
          </td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
